.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px; 
  }
  .clients-list__item {
    flex-basis: calc((100% - 180px) / 6);
    margin-left: 30px;
    margin-top: 30px;
  }
  .clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 16px 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
  }
  .clients-list__logo {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  //   .clients-list__link:hover &,
  // .clients-list__link:focus & {
  //  fill: var(--accent-color);
  // }
  }
  .clients-list__link {
     &:hover .clients-list__logo,
     &:focus .clients-list__logo {
       fill:var(--accent-color)
   }
  }