.footer-address {
    display: flex;
    align-items: baseline;
  }
  .address-data {
    margin-right: 70px;
    flex-shrink: 0;
  }
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-footer-background-color);
  }
  .footer-logo {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--white-text-color);
  }
  .address {
    font-size: 14px;
    line-height: 1.71;
    color: var(--white-text-color);
  }
  .contact-info__item {
    &:not(:last-child) {
    margin-bottom: 9px;
  }
}
  .contact-info__text {
    color: var(--white-text-color);
    font-style: normal;
  }
  .contact-info__link {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
    &:focus {
      color: var(--accent-color);
       transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    }
  }
.footer-socials {
    padding-top: 12px;
}
.footer-list {
  display: flex;
}
.social-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-background-color);
    margin-bottom: 20px;
  }
  .footer-list__item {
    margin-right: 10px;
  }
  .footer-list__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
  .footer-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
width: 44px;
height: 44px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
  .footer-sign {
    margin-left: 93px;
  }
  .footer-wrapper {
    display: flex;
  }
  .footer-title {
    color: #ffffff;
    margin-bottom: 20px;
  }
  .mail-form {
    margin-right: 12px;
  }
  .email-form {
    width: 400px;
  height: 50px;
  padding: 15px 16px;
  font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
&::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  }
  .footer-button {
    display: inline-flex;
    justify-content: center;
    padding: 10px 28px;
    font-family: Roboto;
  font-style: normal;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #188ce8;
}
  }
  .send-icon {
    fill: #ffffff;
    margin-left: 10px;
  }