.page-header {
  border-bottom: 1px solid#ececec;
  background-color: var(--primary-background-color);
}
.accent {
  color: var(--accent-color);
}
.main-nav {
display: flex;
align-items: center;
justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  background-color: var(--primary-background-color);
  margin: auto;
}
.header-logo {
  display: flex;
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-text-color);
}
.site-nav__list {
  display: none;
}
.accent {
  color: var(--accent-color);
}
.site-nav__item {
  &:not(:last-child) {
  margin-right: 50px;
}
}
.nav-link {
  position: relative;
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus {
  color: var(--accent-color);
}
}
.contact-list {
  display: none;
  margin-left: auto;
}
.contact-list__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus {
  color: var(--accent-color);
}
}
.contact-list__item {
  &:not(:last-child) {
  margin-right: 50px;
}
}
.active {
  color: var(--accent-color);
  &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 4px;
  }
}
.contact-list__icon {
  margin-right: 10px;
  fill: var(--text-color);
  .contact-link:hover &,
  .contact-link:focus & {
    fill: var(--accent-color);
  }
}
.header__menu-open {
  cursor: pointer;
  background: transparent;
  border: none;
}
.menu-open, .menu-close {
  width: 40px;
  height: 40px;
  border: none;
  padding: 12px 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .header__menu-open:hover & {
    fill: var(--accent-color);
  }
}
.menu-close {
  position: absolute;
  right: 15px;
  // top: -37px;
}
.mob-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  top: 0;
  //height: 100vh;
  // padding-top: 48px;
  padding-bottom: 48px;
  .container {
    position: relative;
  }
}
.mob-menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-menu-link {
  font-family: Roboto;
font-size: 40px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.02em;
text-align: center;
color: #212121;
text-decoration: none;
}
.mob-contacts-list {
  margin-bottom: 64px;
}
.mob-contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-contacts-link {
  font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}
.mob-contacts-tel-link {
  font-size: 34px;
  line-height: 1.18;
}
.mob-social-list {
display: flex;
}
.mob-social-item {
  &:not(:last-child) {
    margin-right: 10px;
    .mob-social-link {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
      padding-right: 10px;
    }
  }
  
}
.mob-social-link {
  font-weight: 500;
font-size: 18px;
line-height: 1.22;
text-decoration: none;
letter-spacing: 0.02em;

color: #2196F3;
border-right: 1px solid rgba(33, 33, 33, 0.2);
padding-right: 10px;
}