.portfolio-menu {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .portfolio-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .portfolio-list__item {
    display: block;
    margin-right: 8px;
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  
  
  .portfolio-list__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-color);
    background-color: var(--secondary-background-color);
    cursor: pointer;
    border-radius: 4px;
    cursor: pointer;
    border: 0;
    padding: 6px 22px;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
  &:focus {
   background-color: var(--accent-color); 
    color: var(--white-text-color);
    box-shadow:0px 3px 1px rgba(0, 0, 0, 0.01), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(58, 8, 8, 0.12)
  }
  }
  