.projects {
    display: flex;
    flex-wrap: wrap;
  }
  .img {
    display: block;
  }
  .projects__desc-container {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
  }
  
  .projects__item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
    &:hover,
    &:focus {
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  .projects__title {
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin-bottom: 4px;
  }
 
  .projects__desc {
    font-size: 16px;
    line-height: 1.87;
    font-style: normal;
    text-decoration: none;
    color: var(--text-color);
  }
  .projects-image-wrapper {
    position: relative;
    overflow: hidden;
  }
  // .projects-item_link {
  //   cursor: none;
  // }
  .image-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px; 
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  .projects__item:hover &,
  .projects__item:focus & {
    transform: translateY(0);
  }
  }
  
  .projects__link {
    text-decoration: none;
  }