.qualities {
    // padding-top: 94px;
    // padding-bottom: 47px;
    background-color: var(--primary-background-color);
    @media screen and (min-width: 1200px) {
      padding-top: 47px;
      padding-bottom: 94px;
         }
  }
  .quality-list {
    // align-items: center;
    
    // margin-left: -30px;
    // margin-top: -30px;
    
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .quality-list__item {
    width: 100%;
    // margin-left: 15px;
    margin-top: 30px;
    @media screen and (min-width: 768px) {
     
      flex-basis: calc(100% / 2 - 30px);
        }
        @media screen and (min-width: 1200px) {
          flex-basis: calc(100% / 4 - 30px);
            margin-left: 30px;}
  }
  .quality-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--title-color);
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  .quality-list__icon {
    width: 70px;
    height: 70px;
  }
  .quality-icons-table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
    
}