.services {
    padding-top: 47px;
    padding-bottom: 94px;
    background-color: #FFFFFF;
  }
  .services-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-color);
  }
  .services-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .services-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
  .services-element-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .services-element-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 370px;
    height: 70px;
  bottom: 0;
  left: 0;
  flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  }