.backdrop {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
  .modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  opacity: 1;
  }
  .btn-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 50%;
    right: 8px;
    top: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-btn-close {
    &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
  .modal-title {
    margin-bottom: 12px;
    font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  }
  .modal-form-field {
    margin-bottom: 10px;
  }
  .modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  }
  .input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
  }
  .modal-form-input {
    padding-left: 42px;
    width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
  &:hover +.icon-form,
  .modal-form-input:focus +.icon-form {
    fill: var(--accent-color);
  }
  }
  .icon-form {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    fill: var(--title-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .comment-wrapper {
    margin-bottom: 20px;
  }
  .modal-comment {
    width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize:none;
  padding-left: 15px;
  padding-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--title-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    }
    &:hover,
    &:focus {
      border-color: var(--accent-color);
      outline: none;
    }
  }
  .checkbox-policy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .checkbox-policy-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .check-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-checkbox {
    display: block;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: 2px solid #212121;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 5px;
    background-color: transparent;
    /* transform: translate(-50%, -50%); */
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .checkbox {
    &:checked +.check-label .icon-checkbox {
      background-color: var(--accent-color);
      border: none;
    }
    &:hover +.check-label .icon-checkbox,
    .checkbox:focus +.check-label .icon-checkbox  {
      border-color: var(--accent-color);
    }
  }
  .modal-policy-link {
    margin-left: 5px;
    color: var(--accent-color);
  }
  .modal-form-button {
    display: block;
    margin: auto;
    padding: 10px 55px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    align-self: center;
    font-weight: 700;
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #188ce8;
  }
  }
  