ul {
    list-style: none;
  }
  
  body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-background-color);
    color: var(--text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  img {
    display: block;
  }
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }
  h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}