:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4f5;
    --accent-color: #2196f3;
    --text-color: #757575;
    --title-color: #212121;
    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --hero-footer-background-color: #2f303a;
    --body-color: #e5e5e5;
  }